/* FONT */
/* global */    

* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family:'Courier New', Courier, monospace;
}

body {
    font-size: 10px;
    overflow-x: hidden !important;
    background-image: var(--main);
}
/* colors */    

:root {
    --color1 : #06060f;
    --color2 : #2a3048;
    --color3 : #60638a;
    --color4 : #9f9cd8;
    --color5 : #e2ccea;
    --main: linear-gradient(
        to bottom,
        #000000,
        #000000,
        #01000a,
        #130025,
        #8f6bd6,
        #936ad0,
        #9a65c7,
        #9f60be,
        #a45bb5,
        #b268b8
      );
}


/* SECTION TITLE */
.section-title {
    font-size: 1.9rem;
    font-weight: bold;
    text-align: center; 
    margin: 5rem auto 3rem auto;
    position: relative;
    width: max-content;
}

.section-title-1 {
background-color: var(--color1);
color: var(--color4);
padding: 0.4rem;

border-bottom-left-radius: 1rem;
border-top-right-radius: 0.5rem;
display: inline;

}

.section-title-1::after{
    position: absolute;
    height: 0.3rem;
    left: 20%;
    bottom: -0.35rem;
    background-color: var(--color2);
    content: "";
    border-bottom-left-radius: 2rem;
    animation: 2s ease-in-out infinite alternate-reverse line-title-1;
}


    
  

.section-title-2{
color: var(--color5);
margin-left: -0.6rem;
}
/* HEADER */
.logo img  {
    height: 50px;
    width: 50px;
}
header {
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    position: sticky;
    top: 0;
    z-index: 11111;
    background-color: transparent;
}
header.active{
  box-shadow: rgba(0, 0, 0, 0.062) 0px 3px 5px;}
  
.menu {
    display: flex;
    flex-direction: column ;
    justify-content: space-around;
    text-align: center;
    height: 100vh;
    width: 100vw;
    background: var(--color3);
    position: absolute;
    left: 0;
    top: 0;
    font-size: 1.8rem;
    color: var(--color5);
    font-weight: bold;
    transform: translateX(1000%);
    transition: all 0.3s ease-in-out;

}

.menu.active{
    transform: translateX(0);
cursor: pointer;

}
.menu.active li{
    cursor: pointer;
    transition: 0.2s ease-in-out;

}
.menu.active li:hover{
    color: var(--color2)
    }
.burger{
    height: 3.4rem;
    width: 3.4rem;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    background: transparent;
    border: none;
    align-items: flex-end;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

}
.burger.active > span {
    background: var(--color5);
}
.burger.active:hover .burger.active > span {
    background: var(--color2);
}
.burger.active{
z-index: 10;
}

.burger span {
    width: 100%;
    height: 0.3rem;
    border-radius: 0.5rem;
    background: var(--color2);
    transition: ALL 0.3s ease-in-out;

}

.burger span:nth-child(2){
    width: 90%;
}
.burger span:nth-child(3){
    width: 80%;
}

.burger.active > span:nth-child(1){
    transform: rotate(-45deg) translateY(1rem);

}
.burger.active > span:nth-child(2){
    transform: rotate(45deg) translateY(-1.3rem);
    width: 100%;

}
.burger.active > span:nth-child(3){
  display: none;
}






/* deskopt menu */
@media only screen and (min-width:1000px){
    .burger{
        display: none;
    }
    .menu{
     position: unset;
     color: var(--color5);
     background: inherit;
     list-style: none;
     flex-direction: row;
     height: inherit;
     width: max-content;
     gap: 5rem;
     font-size: 1.4rem;
     font-weight: normal;
     align-items: center;
     cursor: pointer;
     transform: translateX(0);

    }
    .menu-link {
        position: relative;
    }
    .menu-link::after{
        content: "";
        width: 0%;
        height: 0.2rem;
        background: var(--color4);
        position: absolute;
        bottom: -0.1rem;
        left:0;
        border-radius: 2rem;
        transition: all 0.3s ease-in-out;
    }
    .menu-link:hover::after{
        width: 100%;
    }
    .menu-link:first-child{
        background: var(--color4);
        padding: 0.2rem 1.5rem;
        border-radius: 00.5rem;
        transition: 0.25s ease-in;
    }
    .menu-link:first-child::after{
    display: none;
    }
    
    .menu-link:first-child:hover{
        background: var(--color3);
        color: white;

        }
    }

/* first view */
.home{
    background-image: url(./images/sunset-g10f5036a5_1920.jpg);
    background-size:cover ;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    height: 95vh;
    top: -6rem;

}
.home-content {
    font-size: 1.7rem;
    color: var(--color3);
    position: absolute;
    bottom: 4rem;
    left: 1rem;
    
}
.scroll-down    {
    height: 2rem;
    width: 30%;
    position: absolute; 
    left: 35%;
    bottom: 1rem;
    border: 1px var(--color3)  ;
    border-radius: 0.5rem;
    background-color: transparent;
    cursor: pointer;
    display: flex;
    justify-content: center;
    transition: 0.2s ease-in-out;
}
.scroll-down-element-1 {
    height: 0.2rem;
    width: 40%;
    background-color: var(--color2);
    margin-top: 1rem;
    transition: 0.2s ease-in-out;
    animation: scroll-move 2s infinite alternate-reverse;

}
.scroll-down-element-2 {
    margin-top: 1rem;
    height: 0.2rem;
    width: 40%;
    background-color: var(--color2);
    transition: 0.2s ease-in-out;

}
.scroll-down:hover .scroll-down-element-1  {
    background-color: var(--color5);
    transform: rotateZ(10deg);
    height: 0.1rem;
}
.scroll-down:hover .scroll-down-element-2  {
    background-color: var(--color5);
    transform: rotateZ(-10deg);
    height: 0.1rem;

}
 
@media only screen and (min-width:1000px){
    .scroll-down    {
        width: 20%;
        left: 40%;
    }
}
@media only screen and (min-width:1200px){
    .home-content {
    font-size: 2rem;
    bottom: 4rem;
}
.home{

    height: 90vh;

}
    }

/* PROJECTS */

.project-content {
    display: grid;
    margin: 3REM 0REM 5REM 0rem;
    align-items: center;
}
.project-content-card{
    margin: 1rem auto;
    width: 80%;
    box-shadow: #2a3048;

}
.projects .section-title {
    margin-top: -2rem;
}

.project-content-card img{
    width: 90%;
    display: block;
    margin: 0 auto;
}

.project-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 0.5rem;

}

.project-name {
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--color2);
    padding-right: 3rem;
    border-bottom: 1px solid var(--color2);

}
.project-description{
    font-size: 1rem;
    padding: 0.4rem;
    text-align: justify;
    color: var(--color2);
}
.project-link img{
    width: 1.6rem;
    height: 1.6rem;
    margin: 0.3rem;
}

.technologies-title {
    font-size: 1rem;
    padding: 0.4rem;
    text-align: justify;
    color: var(--color2);
    border-bottom: 2px solid var(--color2);
    width: max-content;
    margin-bottom: 1rem;
}

.technologies-icons {
    display: flex;
}
.technologies-icons img{
    height: 2.2rem;
    width: 2.2rem;
    margin: auto 0.8rem ;
}
@media only screen and (min-width: 1100px ){
    .project-content {
    grid-template-columns: 1fr 1fr;
    }
    .project-name {
        font-size: 1.5rem;    
    }
    .project-description{
        font-size: 1.2rem;
    }
    .technologies-icons img{
        height: 2.6rem;
        width: 2.6rem;
    }
    .technologies-title {
        font-size: 1.2rem;
    }
    .section-title {
        font-size: 2.4rem;
    }

}
@media only screen and (min-width: 1400px ){
.projects{
    width: 80%;
    margin: 0 auto;
}
}

/* about me */

.about-description {
    font-size: 1rem;
    padding: 0.6rem;
    text-align: justify;
    color: var(--color2);
    margin: 1rem 1rem;
}

.about-quote {
    display: block;
    font-size: 1rem;
    color: var(--color2);
    text-align: justify;
    margin-top: 0.5rem;
    font-style: italic;
}

.about-me img {
    width: 90%;
    display: block;
    margin: 2rem auto;
}
.about-me{
    width: 100%;

}
@media only screen and (min-width: 500px) {
    .about-me {
        width: 80%;
        margin: 0rem auto;
    }
}
@media only screen and (min-width: 1100px ){
    
    .about-description {
        font-size: 1.2rem;
    }
    .about-quote {
        font-size: 1.2rem;
    }
}
@media only screen and (min-width: 1300px ){
    .about-content{
        display: flex;
        
    }
    .about-me img {
        width: 65%;
    }
    .about-description {
        margin-right: 2rem;
    }
}
@media only screen and (min-width: 1700px ){
   .about-me{
    width: 80%;
   }
   .about-description {
    margin-right: 4rem;
}
}

/* Technologies */
.technologies-item img{
    width: 3rem;
    margin: auto 1rem;    

    }

.technologies-content {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
    padding: 1rem 2rem;
    flex-wrap: wrap;
}
.technologies-item {
    padding: 2rem;
    
    border: #9b9bb8 solid 0.3px;
    border-radius: 1rem;
    transition: all 0.3s ease-in-out;
}
.technologies-item:hover {
  background-color: var(--color4);

}

.technologies-item-title {
    text-align: center;
    margin-top: 1rem;
    font-size: 0.8rem;
    color: var(--color1);
}

@media screen and (min-width:900px){
    .technologies-item img{
        width: 6rem;
        }
    .technologies-content {
            width: 80%;
            margin: 0 auto;
        }
        .technologies-item-title {
            margin-top: 2rem;
            font-size: 1.4rem;
        }
 
}

/* Contact */

.contact img {
    display: none;
}

.contact-form{
    margin: 3rem auto;
    width: 80%;
   }

.contact-form-field{
    margin: 1rem;
}
.contact-form label{
    display: block;
    margin-bottom: 0.2rem;
    font-size: 1rem;
    padding: 0.3rem 0.3rem;
}
.contact-form input,
.contact-form textarea {
    width: 100%;
    border-radius: 1rem;
    font-size: 1rem;
    padding: 0.5rem 0.3rem;
}
.contact-form-btn {
    display: block;
    margin: 0 auto;
    width: 50%;
    background-color: var(--color3);
    border-radius: 0.5rem;
    background-image: var(--main);

    height: 2rem;
    font-size: 1rem ;
    cursor: pointer;
    padding: 0.5rem;
    border: none;
    opacity: 100%;
    transition: all ease-in-out 0.3s;
    font-weight: bold;
}
.contact-form-btn:hover{
    color: var(--color1);
    opacity: 90%;
}

@media screen and (min-width:600px){
    .contact-form{
        width: 60%;
       }
}

@media screen and (min-width:1100px){
    .contact {
        display: flex;
    }
    .contact img {
        display: block;
        width: 50%;
        margin-left: 3rem;
    }
    
    .contact-form{
        width: 40%;
        display: block;
        
       }
    .contact-form label{
        font-size: 1.2rem;
    }
    .contact-form-btn {
        font-size: 1.2rem ;
    }
}
@media screen and (min-width:1400px){
    .contact img {
        display: block;
        width: 50%;
        margin-left: 3rem;
    }
    
    .contact-form{
        width: 30%;
        display: block;
        
       }
       .contact-form label{
        font-size: 1.4rem;
    }
}
@media screen and (min-width:1600px){
    .contact img {
        display: block;
        width: 50%;
        margin-left: 3rem;
    }
    
    .contact-form{
        width: 30%;
        display: block;
        
       }
}
@media screen and (min-width:1750px){
    .contact-form{
        width: 40%;
       }
}
footer {
    padding: 1rem;
    font-size: 0.8rem;
    text-align: center;
    height: 3rem;
    margin-top: 2rem;
}
@media screen and (min-width:1100px){
    footer{
        font-size: 1.2rem;
       }
       
    }